<%- include('./partials/header.ejs')%>



<h1 id = "Heading"> All Things Stationery</h1>

<img  class = "whiteNotebook" src = "/images/notebook-and-tulips.jpg" alt = "Notebooks and Tulip"> 



<h2 id = "information">The mission statement of All Things Stationery is to allow for trade and exchange of stationery between 
    those who appreciate expanding their collection, without having to break the bank. This is a place where stationery collectors 
    are able to discuss their favorite stationery, trade with other entusiasts and try new things! With the love for specificity, 
    you will be able to get exactly what you are looking for, every time. With nib sizes ranging from 0.3mm to over 1.5mm, there is 
    a little something for everyone here. Enjoy the trade, and welcome to All Things Stationery.
</h2>

<%- include('./partials/footer.ejs')%>