<footer class = "footer">
    <div class = 'footinfo'>
    <a href = '/info/contact' id = "foot">Contact</a>
    <a href = '/info/about' id = "foottwo">About</a>
</div>
    <h5 id = "footmid">&#169; All Things Stationery</h5>
</footer>
</div>

</body>
</html>