<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href = "/css/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>All Things Stationery Trades </title>
    <link rel = "icon" href = "/images/All-Things-Stationery-logos_transparent.png">
</head>

<body>
    <div class = "flex-container">

        <header class = "header">
            <a href = "/">
            <img src = "/images/All-Things-Stationery-logos_transparent.png" id = "logo" alt = "logo"><br>
            </a>

            <a href = "/trades" class = "logIn">Trades</a>
            <a href = "/trades/new" class = "logIn">Start Trading!</a>
            <a href = "#" class = "logIn">Log In</a>
            <a href = "#" class = "logIn">Sign Up</a>

            <div class = "navList">
            <nav>
            <a href = "/">Home</a>
            <a href = "/trades">Trades</a>
            <a href = "/trades/new">New Trade</a>
            </nav>
            </div>


        </header>
